[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-runner = "*"
ansible-runner-http = "*"
molecule = {extras = ["docker", "lint"], version = "*"}
openshift = "*"

[dev-packages]

[requires]
python_version = "3.7"
